.card-wrapper{
    
    width: 90%;
    max-width: 39.6875em;
    height: 60%;
    max-height: 29.6875em;
    border-radius: 10px;
}

.card-top{
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-height: 13.5em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    
  
}

.ct-copy{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     margin-left: 2.8125rem;

     h1{
         font-size: 1.5rem;
         font-weight: 700;
         color:$clr-cyan;
     }

     h2{
        font-size: 1.125rem;
        font-weight: 700;
        color: $clr-yellow;
        margin-top: 2em;
     }

     p{
         font-size: 1rem;
         margin-top: 1.25rem;
         color: $clr-txt;
         width: 90%;
         max-width: 33em;
     }


  
     
  }

  .card-bottom{
      display: flex;
      height: 100%;
      max-height:16.1875rem;
      flex-wrap: wrap;
     
  }

  .bottom-left{
      background-color: $clr-cyan;
      width: 100%;
      max-width: 19.8125em;
      border-bottom-left-radius:10px;
  }

  .cbl-copy{
      width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      h2{
          font-size: 1.125rem;
          color: #fff;
          margin-top: 2.625em;
          
      }
      
      button{
        margin-top: 1.875em;
        width: 100%;
      height: 3em;
      border: none;
      border-radius: 4px;
      background-color: $clr-yellow;
      color: #fff;
      font-family: inherit;
      cursor: pointer;
    }
     
  }

  .price{
      height:100% ;
      max-height: 2em;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1.5em;

      .price-money{
          font-size: 2rem;
          color: #fff;
          font-weight: 700;
      }

      .price-txt {
          color: #7BCCCB;
          margin-left: 1.5em;
      }

      
    
}

.left-txt{
    margin-top: 18px;
    color: #ADE5E9 ;
}



  .bottom-right{
      background-color:#7BCCCB ;
      width: 100%;
      max-width: 19.8125em;
      border-bottom-right-radius: 10px;
      
  }


  .cbr-copy{
      
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    h2{
        margin-top: 47.25px;
        font-size: 1.125rem;
          color: #fff;
          font-weight: 700;
    }
    p{
        max-width: 13em;
        max-height: 183px;
        color: #AAF9FD;
        margin: 1.5em 0;
        font-size: 16px;
    }
  }


  footer{
      margin-top: 2rem;
  }



  @media screen and(max-width: 620px){
    .card-wrapper{
    
        width: 90%;
        max-width: 19.3475em;
        height: 100%;
        max-height: 45em;
        border-radius: 10px;
        margin: 30px auto;
    }

    .card-top{
        width: 100%;
        height: 100%;
        max-height: 16.75em;
        max-width: 19.3475em;
    }

    .ct-copy{
        margin-left: 1.5em;
    }

    .bottom-left{
        border-bottom-left-radius: 0;
    }

    .cbl-copy{
        h2{
            margin-top: 1.625em;
        }

        button{
            margin-bottom: 1.5em;
            
        }
    }

    .bottom-right{
        border-bottom-left-radius: 10px;
    }
    footer{
        margin-top: 10rem;
    }
  }