*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Karla', sans-serif;
}

body{
    width: 100%;
    max-width: 90em;
    height: 100vh;
    max-height: 50em;
    margin: auto;
    background-color: $clr-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}